<!-- ======================================== Breadcrumb start =================================== -->
<div class="breadcrumb-bar border-bottom border-slate-100">
    <div class="container container-two">
        <ol class="breadcrumb-bar__list d-flex align-items-center flex-wrap list-unstyled mb-0">
            <li><a href="index.html" class="text-slate-800 hover-text-main-600">Home</a></li>
            @@trail
            <li class="text-orange-600" aria-current="page">@@title</li>
        </ol>
    </div>
</div>
<!-- ======================================== Breadcrumb end =================================== -->