<!-- Decor post card start -->
<article class="decor-post position-relative">
    <a href="javascript:void(0)" class="decor-post__thumb d-block overflow-hidden tw-rounded-xl">
        <img src="assets/images/thumbs/blog/@@image.png" alt="@@title" class="w-100 h-100 object-fit-cover">
    </a>
    <div class="decor-post__body position-relative bg-white tw-rounded-xl">
        <span class="decor-post__date position-absolute d-flex flex-column align-items-center font-heading fw-semibold text-white">
            <span class="decor-post__day">@@day</span>
            <span class="decor-post__month">@@month</span>
            <span class="decor-post__year">@@year</span>
        </span>
        <a href="javascript:void(0)" class="decor-post__tag d-inline-flex align-items-center bg-slate-25 border border-slate-200 rounded-pill text-slate-800">@@category</a>
        <h3 class="decor-post__title fw-semibold text-slate-800 line-clamp-2">
            <a href="javascript:void(0)" class="hover-text-main-600">@@title</a>
        </h3>
        <div class="decor-post__meta d-flex align-items-center flex-wrap text-slate-600">
            <span class="d-inline-flex align-items-center tw-gap-2">
                <i class="ph ph-user text-purple-600"></i>
                By Admin
            </span>
            <span class="decor-post__dot"></span>
            <span class="d-inline-flex align-items-center tw-gap-2">
                <i class="ph ph-calendar-dots text-green-600"></i>
                @@date
            </span>
        </div>
        <a href="javascript:void(0)" class="decor-post__more position-absolute" aria-label="Read more: @@title"><i class="ph ph-arrow-right"></i></a>
    </div>
</article>
<!-- Decor post card end -->