<!-- ======================================== 500 error start =================================== -->
<section class="error-page text-center">
    <div class="container container-two">
        <img src="assets/images/thumbs/errors/500.svg" alt="500 Internal Server Error" class="error-page__art">
        <h1 class="error-page__title fw-semibold text-main-two-600">Internal Server Error</h1>
        <p class="error-page__text text-slate-600 mx-auto">We’re experiencing a temporary server issue. The request couldn’t be completed right now, but our system will be back shortly.</p>
        <a href="index.html" class="btn btn-outline-main hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 rounded-pill error-page__btn py-0 font-heading fw-semibold" data-block="button">
            <span class="button__flair"></span>
            <i class="ph ph-arrow-left tw-text-base position-relative"></i>
            <span class="button__label">Back To Home</span>
        </a>
    </div>
</section>
<!-- ======================================== 500 error end =================================== -->
