<!-- ======================================== 404 error start =================================== -->
<section class="error-page text-center">
    <div class="container container-two">
        <img src="assets/images/thumbs/errors/404.svg" alt="404 Error" class="error-page__art">
        <h1 class="error-page__title fw-semibold text-slate-800">Oops! Page Not Found</h1>
        <p class="error-page__text error-page__text--narrow text-slate-600 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="index.html" class="btn btn-outline-orange hover-style-three button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center rounded-pill error-page__btn py-0 font-heading fw-semibold" data-block="button">
            <span class="button__flair"></span>
            <span class="button__label">Back To Home</span>
        </a>
    </div>
</section>
<!-- ======================================== 404 error end =================================== -->
