<!-- ======================================== 503 error start =================================== -->
<section class="error-page text-center">
    <div class="container container-two">
        <img src="assets/images/thumbs/errors/503.svg" alt="503 Service Unavailable" class="error-page__art">
        <h1 class="error-page__title fw-semibold text-slate-800">Server Under Maintenance</h1>
        <p class="error-page__text error-page__text--mid text-slate-600 mx-auto">Our service is temporarily unavailable due to maintenance or high traffic. Please check back shortly—everything will be running again soon.</p>
        <a href="index.html" class="btn btn-outline-main hover-style-two button--stroke tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-2 rounded-pill error-page__btn py-0 font-heading fw-semibold" data-block="button">
            <span class="button__flair"></span>
            <i class="ph ph-arrow-left tw-text-base position-relative"></i>
            <span class="button__label">Back To Home</span>
        </a>
    </div>
</section>
<!-- ======================================== 503 error end =================================== -->
