<!-- ======================================== Featured products start =================================== -->
<section class="featured-products tw-pt-2 pb-60">
    <div class="container container-two">
        <div class="folder-frame">
            <div class="folder-frame__tab">
                <h2 class="section-title fw-semibold text-slate-800">Featured Products</h2>
            </div>
            <div class="featured-products__grid">
                @@include('../partials/_product-card-list.html', { "image": "wireless-headphones", "name": "Wireless Headphones", "category": "Electronics", "sku": "SW-FIT-2024-X1", "labelOne": "Flash Sale", "toneOne": "bg-main-600 text-white", "labelTwo": "Top Rated", "toneTwo": "bg-orange-600 text-white" })
                @@include('../partials/_product-card-list.html', { "image": "cricket-helmet", "name": "Cricket Helmet", "category": "Sports", "sku": "SW-FIT-2024-X1", "labelOne": "Hot Deal", "toneOne": "bg-yellow-600 text-heading", "labelTwo": "Best Seller", "toneTwo": "bg-green-600 text-white" })
            </div>
        </div>
    </div>
</section>
<!-- ======================================== Featured products end =================================== -->
