<!-- ======================================== Features bar start =================================== -->
<section class="features-bar border-top border-slate-100">
    <div class="container container-two">
        <div class="features-bar__grid">
            <div class="d-flex align-items-start tw-gap-5">
                <img src="assets/images/icons/features/free-shipping.png" alt="" class="features-bar__icon">
                <div>
                    <h3 class="features-bar__title fw-semibold text-heading tw-text-xl">Free Shipping</h3>
                    <p class="features-bar__desc text-slate-600 tw-text-xs">Get your orders delivered quickly through trusted partners.</p>
                    <a href="javascript:void(0)" class="features-bar__link text-main-600">Explore Now <i class="ph ph-arrow-right"></i></a>
                </div>
            </div>
            <div class="d-flex align-items-start tw-gap-5">
                <img src="assets/images/icons/features/free-returns.png" alt="" class="features-bar__icon">
                <div>
                    <h3 class="features-bar__title fw-semibold text-heading tw-text-xl">30-Days Free Returns</h3>
                    <p class="features-bar__desc text-slate-600 tw-text-xs">Enjoy a hassle-free return within 30 days for eligible products.</p>
                    <a href="javascript:void(0)" class="features-bar__link text-green-600">Return Policy <i class="ph ph-arrow-right"></i></a>
                </div>
            </div>
            <div class="d-flex align-items-start tw-gap-5">
                <img src="assets/images/icons/features/order-tracking.png" alt="" class="features-bar__icon">
                <div>
                    <h3 class="features-bar__title fw-semibold text-heading tw-text-xl">Order Tracking</h3>
                    <p class="features-bar__desc text-slate-600 tw-text-xs">Track your shipment status anytime &amp; stay updated from dispatch.</p>
                    <a href="javascript:void(0)" class="features-bar__link text-gold-600">Track Your Order <i class="ph ph-arrow-right"></i></a>
                </div>
            </div>
            <div class="d-flex align-items-start tw-gap-5">
                <img src="assets/images/icons/features/secure-payment.png" alt="" class="features-bar__icon">
                <div>
                    <h3 class="features-bar__title fw-semibold text-heading tw-text-xl">Secure Payment</h3>
                    <p class="features-bar__desc text-slate-600 tw-text-xs">All transactions are protected with advanced encryption.</p>
                    <a href="javascript:void(0)" class="features-bar__link text-orange-600">More About Payment <i class="ph ph-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================================== Features bar end =================================== -->
