<!-- ==================== Header Four Start Here ==================== -->
<header class="header header-four tw-transition-all tw-z-99">
  <div class="header-four__bar bg-white border-bottom border-slate-100">
    <div class="container container-two">
      <div class="header-four__inner d-flex align-items-center justify-content-between tw-gap-6">
        <div class="d-flex align-items-center">
          <div class="logo flex-shrink-0">
            <a href="index.html" class="link d-flex">
              <img src="assets/images/logo/logo.png" alt="eCommex">
            </a>
          </div>
          <div class="header-menu header-four__menu d-lg-block d-none">
            @@include('../partials/_nav-menu.html', { "class" : "header-four__nav" })
          </div>
        </div>

        <div class="d-flex align-items-center tw-gap-305 flex-shrink-0">
          <div class="header-actions d-flex align-items-center">
            <button type="button" class="header-action tw-w-11 tw-h-11 bg-white border border-slate-100 rounded-circle d-flex justify-content-center align-items-center text-heading tw-text-xl position-relative hover-bg-main-600 hover-text-white" aria-label="Search">
              <i class="ph ph-magnifying-glass"></i>
            </button>
            <a href="javascript:void(0)" class="header-action tw-w-11 tw-h-11 bg-white border border-slate-100 rounded-circle d-flex justify-content-center align-items-center text-heading tw-text-xl position-relative hover-bg-main-600 hover-text-white" aria-label="Wishlist">
              <i class="ph ph-heart"></i>
              <span class="header-action__badge tw-w-6 tw-h-6 rounded-circle bg-green-600 text-white d-flex justify-content-center align-items-center position-absolute font-heading fw-semibold tw-text-sm">5</span>
            </a>
            <a href="javascript:void(0)" class="header-action tw-w-11 tw-h-11 bg-white border border-slate-100 rounded-circle d-flex justify-content-center align-items-center text-heading tw-text-xl position-relative hover-bg-main-600 hover-text-white" aria-label="Cart">
              <i class="ph ph-shopping-cart-simple"></i>
              <span class="header-action__badge tw-w-6 tw-h-6 rounded-circle bg-orange-600 text-white d-flex justify-content-center align-items-center position-absolute font-heading fw-semibold tw-text-sm">1</span>
            </a>
          </div>
          <a href="sing-up.html" class="btn btn-main-two hover-style-one button--stroke tw-duration-100 d-sm-inline-flex d-none align-items-center justify-content-center tw-gap-105 rounded-pill tw-h-11 tw-px-7 py-0 font-heading fw-semibold tw-text-13-px" data-block="button">
            <span class="button__flair"></span>
            <span class="button__label">Register</span>
            <i class="ph ph-arrow-up-right tw-text-base position-relative"></i>
          </a>
          <button type="button" class="toggle-mobileMenu d-lg-none tw-leading-none text-heading tw-text-9 tw-ms-2" aria-label="Open menu">
            <i class="ph ph-list"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ==================== Header Four End Here ==================== -->