<!-- Nav menu Start -->
<ul class="nav-menu d-lg-flex align-items-center @@class">
  <li class="nav-menu__item activePage">
    <a href="index.html" class="nav-menu__link text-slate-600 tw-text-sm tw-py-3 w-100">Home</a>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a href="javascript:void(0)" class="nav-menu__link text-slate-600 tw-text-sm tw-py-3 w-100 tw-pe-405">Browsed Products</a>
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-duration-200 tw-z-99">
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="products.html"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Products</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="products-details.html"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Product Details</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="cart.html"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Cart</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="address.html"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Billing &amp; Address</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="checkout.html"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Checkout</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="top-catagories.html"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Top Categories</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="javascript:void(0)"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Recently Viewed</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="javascript:void(0)"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Best Sellers</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="javascript:void(0)"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          New Arrivals</a>
      </li>
    </ul>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a href="javascript:void(0)" class="nav-menu__link text-slate-600 tw-text-sm tw-py-3 w-100 tw-pe-405">Pages</a>
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-duration-200 tw-z-99">
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="about-us.html"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          About Us</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="register.html"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Register</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="faq.html"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          FAQ</a>
      </li>
    </ul>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a href="javascript:void(0)" class="nav-menu__link text-slate-600 tw-text-sm tw-py-3 w-100 tw-pe-405">Shops</a>
    <ul
      class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-hidden tw-p-2 tw-duration-200 tw-z-99">
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="javascript:void(0)"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Shop Grid</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="javascript:void(0)"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Product Details</a>
      </li>
      <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
        <a href="javascript:void(0)"
          class="nav-submenu__link hover-bg-slate-50 text-heading tw-text-sm w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Cart</a>
      </li>
    </ul>
  </li>
  <li class="nav-menu__item">
    <a href="javascript:void(0)" class="nav-menu__link text-slate-600 tw-text-sm tw-py-3 w-100">Contact Us</a>
  </li>
</ul>
<!-- Nav menu End  -->
