<!-- ======================================== Newsletter band start =================================== -->
<section class="newsletter-band position-relative">
    <div class="newsletter-band__bar position-relative">
        <img src="assets/images/thumbs/hero-five/newsletter-folder.png" alt="" class="newsletter-band__icon newsletter-band__icon--folder d-xl-block d-none">
        <img src="assets/images/thumbs/hero-five/newsletter-bell.png" alt="" class="newsletter-band__icon newsletter-band__icon--bell d-xl-block d-none">
        <div class="container container-two h-100">
            <div class="newsletter-band__inner d-flex align-items-center justify-content-between flex-wrap h-100">
                <h2 class="newsletter-band__title fw-medium text-white mb-0">Subscribe Our Newsletter To Get Exclusive Jewellery Deals in Your Email</h2>
                <form action="#" class="newsletter-band__form position-relative bg-white rounded-pill form-submit">
                    <input type="email" class="newsletter-band__input w-100 h-100 border-0 bg-transparent text-slate-800" placeholder="Enter Email Address..." aria-label="Email address" required>
                    <button type="submit" class="newsletter-band__btn position-absolute rounded-pill bg-orange-600 text-white font-heading fw-semibold">Subscribe Now</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ======================================== Newsletter band end =================================== -->