<!-- ======================================== Room categories start =================================== -->
<section class="room-categories">
    <div class="container container-two">
        <div class="snap-slider snap-slider--6" data-start="2">
            <div class="snap-slider__track">
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "storage-shelving", "title": "Wardrobes", "units": "38,750+" })
                </div>
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "home-office", "title": "Study Desks", "units": "38,750+" })
                </div>
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "living-room", "title": "Living Room", "units": "38,750+" })
                </div>
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "bedroom", "title": "Bedroom", "units": "38,750+" })
                </div>
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "dining-room", "title": "Dining Room", "units": "38,750+" })
                </div>
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "home-office", "title": "Home Office", "units": "38,750+" })
                </div>
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "outdoor", "title": "Outdoor", "units": "38,750+" })
                </div>
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "storage-shelving", "title": "Storage &amp; Shelving", "units": "38,750+" })
                </div>
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "living-room", "title": "Sofas &amp; Couches", "units": "38,750+" })
                </div>
                <div class="snap-slider__slide">
                    @@include('../partials/_room-card.html', { "image": "dining-room", "title": "Kitchen &amp; Bar", "units": "38,750+" })
                </div>
            </div>
            <div class="snap-slider__dots d-flex align-items-center justify-content-center" role="tablist" aria-label="Room category slides"></div>
        </div>
    </div>
</section>
<!-- ======================================== Room categories end =================================== -->
