<!-- Top category card start -->
<a href="products.html" class="top-category-card d-flex flex-column bg-white border border-slate-100 @@active">
    <span class="top-category-card__thumb d-flex align-items-center justify-content-center bg-slate-25">
        <img src="assets/images/thumbs/top-categories/@@image.png" alt="@@title">
    </span>
    <span class="top-category-card__body d-flex align-items-center justify-content-between tw-gap-2">
        <span>
            <span class="top-category-card__title d-block text-slate-800">@@title</span>
            <span class="top-category-card__units d-block text-slate-600">@@units units</span>
        </span>
        <span class="top-category-card__arrow flex-shrink-0 rounded-circle d-flex align-items-center justify-content-center"><i class="ph ph-caret-right"></i></span>
    </span>
</a>
<!-- Top category card end -->
