/* Font Size Class Start */
.text {
  &-inherit {
      font-size: inherit;
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}  
/* Font Size Class End */


@each $property, $value in $spaces {
    .tw-text-#{$property} {
      font-size: $value;
    }
}  

.tw-text-13-px {
  font-size: rem(13px);
}

.tw-text-17-px {
  font-size: rem(17px);
}

.tw-sm-text-sm {
  @media (max-width: 575px) {
    font-size: 14px;
  }
}
/* Font Size Class End */