/* Max width Css Class Start */
.max-w {
    &-810-px {
        max-width: 810px;
    }
    &-1752-px {
        max-width: 1752px;
    }
    &-330-px {
        max-width: 330px;
    }
    &-806-px {
        max-width: 806px;
    }
}
/* Max width Css Class End */