/* ============= Header Start Here ======================= */
/* Top header */
.top-header {
  font-size: rem(14px);

  &__inner {
    min-height: 48px;
  }

  &__divider {
    width: 1px;
    height: 20px;
    background-color: var(--slate-200);
  }
}

/* Header middle: logo, search, actions */
.header-middle {
  &__inner {
    min-height: 78px;
  }

  .logo img {
    @media (max-width: 424px) {
      max-width: 120px;
    }
  }
}

.header-search {
  height: 44px;
  padding-inline-start: 20px;
  padding-inline-end: 6px;

  &__divider {
    width: 1px;
    height: 30px;
    margin-inline: 20px;
    background-color: var(--slate-200);
  }

  &__input {
    padding: 0;

    &::placeholder {
      color: var(--slate-800);
    }
  }
}

.header-actions {
  gap: 7px;
}

.header-action {
  &__badge {
    inset-block-start: -6px;
    inset-inline-end: -6px;
  }
}

/* Header nav bar */
.header-nav {
  &__inner {
    height: 46px;
  }
}

.header {
  &.fixed-header {
    position: sticky;
    inset-inline-start: 0;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: 100%;
    z-index: 9;
    backdrop-filter: blur(24px);
    animation: slideDown 0.35s ease-out;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 991px) {
      inset-block-start: -1px;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* Header Menu and Submenu Css Start */
.nav-menu {
  &__item {
    &.activePage {
      >a {
        color: var(--main-600) !important;

        &::before {
          color: var(--main-600);
        }
      }
    }

    &:hover {
      >a {
        color: hsl(var(--heading-color));

        @media (min-width: 992px) {
          color: var(--main-600);
        }
      }
    }
  }
}

.has-submenu {
  &.active {

    >a,
    >a::before {
      color: var(--main-600);
    }

    >a::before {
      transform: translateY(-50%) rotate(180deg) !important;
    }
  }

  &:hover {
    .nav-submenu {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
    }

    >a {
      &::before {
        @media (min-width: 992px) {
          color: var(--main-600);
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }

  >a {
    position: relative;

    &::before {
      position: absolute;
      content: "\E136";
      inset-inline-end: 0;
      inset-block-start: 50%;
      transform: translateY(-50%);
      font-family: "Phosphor";
      font-weight: 900;
      color: inherit;
      transition: 0.2s linear;
    }
  }
}

/* Submenu Start */
.nav-submenu {
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  min-width: 190px;
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  transition: 0.4s ease;
  transform-origin: top center;

  @media (min-width: 992px) {
    max-height: 400px;
    overflow-y: auto;
  }

  &__item {
    &.activePage {
      .nav-submenu {
        &__link {
          color: var(--main-600) !important;
        }
      }
    }

    &:hover {
      a {
        color: hsl(var(--heading-color));
      }
    }
  }
}

/* Submenu End */
/* Header Menu and Submenu Css End */

/* ================================= Header Css End =========================== */