/* more related products (card slider) start */
.related-products {
  padding-block: 56px 60px;

  &__head {
    margin-block-end: 30px;
  }

  .snap-slider__dots {
    margin-block-start: 30px;
  }
}
/* more related products end */
